@inherits LayoutComponentBase

<header>
    <NavComponent />
</header>
<main>
    <article>
        <div class="d-flex flex-wrap mw-100 justify-content-center align-middle">
            @Body
        </div>
    </article>
</main>


