<nav class="navbar bg-body-tertiary bg-primary">
  <div class="container-fluid collapse navbar-collapse justify-content-center ">
    <span class="navbar-brand">CONVERSÃO DE TEMPERATURA</span>
  </div>
</nav>